---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome!</h1>
			<p>
				Welcome to the <a href="https://raceplay.site/">Raceplay.site</a> Content Page
			</p>
			<p>
				You would have received a downloadable PDF file from the purchase.<br>

				Always refer to it.
				We are not using Drive for content anymore, unless you purchased the entire library permanently.
				You would have received an invite link to the Telegram Subscription Channel. Make sure you sign up USING your telegram username below before getting into the Telegram channel to avoid being removed due to lack of coherence.
				IF YOUR SUBSCRIPTION IS STILL ACTIVE CHECK YOUR EMAIL FOR THE INVITE LINK. You must have a Telegram account.
			</p>
			<p>
				Our main social medias are <a href="https://twitter.com/RaceplayVideos"
					>Twitter
				</a> and <a href="https://t.me/RaceplayClips">join the public Telegram</a> Email raceplaymedia@gmail.com to ask questions.
				<br>
			</p>
			<div>
			<!--login section start-->
			<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		</head>
		<body>
		  <!-- Add a menu:
		   Log in / Sign up - when the user is not logged in
		   Username / Log out - when the user is logged in
		  -->
		  <div data-netlify-identity-menu></div>
		  <p>
			Before requesting drive access make sure the email you request matches the one you sign up with.
		  </p>
		
		  <!-- Add a simpler button:
			Simple button that will open the modal.
		  -->
		  <div data-netlify-identity-button>Login/Sign Up</div>
		</div>
		  <!--login section clip -->
			<a class="read_more" onclick="toggleReadMore()" href="https://drive.google.com/drive/folders/1h64kYBJy8IGwYuSH86dd5VhkXvlz1Tm-?usp=sharing">Drive</a>
			
		</main>
		<Footer />
	</body>
</html>
